doctype html
html(lang='en', xmlns='http://www.w3.org/1999/html')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Quizalize lets you engage your class and deliver instant assessments for personalised learning on any computer, tablet or smartphone. It helps you quickly identify the strengths, weaknesses and learning gaps of individual students and intervene in real-time to give one-on-one help in the classroom.')
        meta(property='og:title', content='Spot student learning gaps instantly')
        meta(property='og:site_name', content='Quizalize')
        meta(property='og:url', content='http://www.quizalize.com')
        meta(property='og:description', content='Quizalize lets you engage your class and deliver instant assessments for personalised learning on any computer, tablet or smartphone. It helps you quickly identify the strengths, weaknesses and learning gaps of individual students and intervene in real-time to give one-on-one help in the classroom.')
        meta(property='og:type', content='website')
        meta(property='og:image', content='http://www.quizalize.com/cquiz/img/Quizalize-meta.png')
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:site', content='@quizalizeapp')
        meta(name='twitter:creator', content='@quizalizeapp')
        title Quizalize
        // css
        link(rel='stylesheet', href='/outdatedbrowser/outdatedbrowser.min.css')
        link(href='/cquiz/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        link(href='/cquiz/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='/cquiz/css/nivo-lightbox.css', rel='stylesheet')
        link(href='/cquiz/css/nivo-lightbox-theme/default/default.css', rel='stylesheet', type='text/css')
        link(href='/cquiz/css/owl.carousel.css', rel='stylesheet', media='screen')
        link(href='/cquiz/css/owl.theme.css', rel='stylesheet', media='screen')
        link(href='/cquiz/css/flexslider.css', rel='stylesheet')
        link(href='/cquiz/css/animate.css', rel='stylesheet')
        link(href='/cquiz/css/style.css', rel='stylesheet')
        script(type='text/javascript', src='http://localhost:7071/webpack-dev-server.js')
        script(src='/js/vendor.js')
        script(src='/js/home.js')
    body#page-top.q-home
        // Navigation
        
        include ./home/menu.jade
        
        include ./home/brand.jade
        
        include ./home/box_intro.jade
        
        include ./home/box_player.jade
        
        include ./home/box_dashboard.jade
        
        include ./home/box_questionlist.jade
        
        include ./home/box_features.jade
        
        include ./home/box_studentopinions.jade
        
        include ./home/box_start.jade
        
        include ./home/box_zzish.jade
        
        section#what_is.q-home__section.q-home__hero
            .q-home__section__inner
                .aled-made-me-hack-this
                .flash__hero
                    .flash-container
                        #flash
                .cta-container.clearfix
                    .cta-container__left
                        a.get-started(href='/quiz/register')
                            | Get Start here, it's free
                    .cta-video.cta-container__right
                        | or 
                        a#play-but(href='https://www.youtube.com/watch?v=J3_CWmLcEI0', title='Quizalize Video') watch a video
                        |  to learn more
        // /Section: intro
        section#what_is.q-home__section.q-home__whatis
            .q-home__section__inner
                .q-home__whatis__left
                    img.q-home__whatis__image(src='/img/homev2/home_whatis.png', alt='Quizalize available on computer, tablet and phones')
                .q-home__whatis__right
                    h1 What is Quizalize?
                    p
                        | Quizalize lets you engage your class and deliver instant assessments
                        | for personalised learning on any computer, tablet or smartphone.
                        | It helps you quickly identify the strengths, weaknesses and learning gaps of individual
                        | students and intervene in real-time to give one-on-one help in the classroom.
                    p
                        | You can create your own assessments with our super fast quiz creator in 60 seconds, use one that a colleague
                        | has shared with you or pick one from our growing library of public curriculum based quizzes.
        // how quizalize works section
        section#steps.q-home__section.q-home__howitworks
            .q-home__section__inner
                h1 How it works
                p
                    ul
                        li
                            img(src='img/homev2/home_marketplace.png', alt='')
                            p
                                | Create a quiz in less than 60 seconeds, or choose one
                                | created by other teachers.
                        //
                        li
                            img(src='img/homev2/home_marketplace.png', alt='')
                            p
                                | Engage the whole class with live dashboards
                        //
                        li
                            img(src='img/homev2/home_marketplace.png', alt='')
                            p
                                | Identify struggling students quickly
                        //
                        li
                            img(src='img/homev2/home_marketplace.png', alt='')
                            p
                                | Spot learning gaps instantly
        // Section: about
        section#about.q-home__section.q-home__features
            .q-home__section__inner
                h1
                    | Diagnostic Assessments Made Easy
                ul
                    li
                        .q-home__features__img
                            img(src='/img/icon3.jpg')
                        h3 Engage Students
                        p
                            | Turn dull assessments into a fun online game. Students love
                            | playing Quizalize and you can even show a live leaderboard
                            | on the electronic whiteboard!
                    //
                    li
                        .q-home__features__img
                            img(src='/img/icon1.jpg')
                        h3 Personalise Learning
                        p
                            | Create custom quizzes in 60 seconds and get insight into
                            | individual students’ strengths, weaknesses and learning
                            | gaps with printable reports.
                    //
                    li
                        .q-home__features__img
                            img(src='/img/icon5.jpg')
                        h3 Track Progress
                        p
                            | Record student results over time and monitor progress at the
                            | class and student level using our state-of-the-art
                            | progress dashboards.
                    //
                    li
                        .q-home__features__img
                            img(src='/img/icon4.jpg')
                        h3 Save Time
                        p
                            | Use our live dashboards to identify struggling students in
                            | real-time so you can give them one-on-one help in class.
        section#about.q-home__section.q-home__tutorial
            .q-home__section__inner
                h1 Watch a tutorial
                p
                    .q-home__tutorial__video
                        iframe(src='//www.youtube.com/embed/4ZmFuhSzr8s?&controls=1&autohide=1', frameborder='0', allowfullscreen='')
        section.home-section.color-light.bg-dark.carousel_div
            .container
                .row
                    .col-md-12
                        #quote-carousel.carousel.slide(data-ride='carousel')
                            // Bottom Carousel Indicators
                            ol.carousel-indicators
                                li.active(data-target='#quote-carousel', data-slide-to='0')
                                li(data-target='#quote-carousel', data-slide-to='1')
                                li(data-target='#quote-carousel', data-slide-to='2')
                            // Carousel Slides / Quotes
                            .carousel-inner
                                // Quote 1
                                .item.active
                                    blockquote
                                        .row
                                            .col-sm-3.text-center
                                                img(src='../img/doghill.png')
                                            #dog-kennel.col-sm-9
                                                p.carousel-paragraph ...great tool for testing children in an engaging and useful way...
                                                small.quote_giver Ross Orton, Deputy Headteacher at Dog Kennel Hill Primary School
                                // Quote 2
                                .item
                                    blockquote
                                        .row
                                            .col-sm-3.text-center
                                                img(src='../img/Millbrook.png')
                                            .col-sm-9
                                                p.carousel-paragraph It was good. It was entertaining. You got to learn lots.
                                                small.quote_giver Megan, Year 6 pupil, Millbrook Academy
                                // Quote 3
                                .item
                                    blockquote
                                        .row
                                            .col-sm-3.text-center
                                                img(src='../img/Pagnel.png', style='height:120px; width:auto; margin-left:50px;')
                                            .col-sm-9
                                                p.carousel-paragraph Children were highly enthused - it's a great tool for consolidating facts
                                                small.quote_giver Dave Harwood, Year 6 Teacher, Paganel School
                            // Carousel Buttons Next/Prev
                            a.left.carousel-control(data-slide='prev', href='#quote-carousel')
                                i.fa.fa-chevron-left
                            a.right.carousel-control(data-slide='next', href='#quote-carousel')
                                i.fa.fa-chevron-right
        section#about.q-home__section
            .q-home__section__inner
                h1
                    | CREATE A QUIZ FOR YOUR CLASS IN 60 SECONDS
                    br
                    br
                    |                     or set your class a pre-made quiz
                a.cta3(href='/quiz/register') Create or set a quiz
                br
        // Section: contact
        section#contact.q-home__section.q-home__touch
            .q-home__section__inner
                h1 Get in touch
                a.q-home__touch_cta1(onclick="ask('order')")
                    | Request an info pack
                a.q-home__touch_cta2(onclick="ask('question')")
                    | Ask a question
                a.q-home__touch_cta2(onclick="ask('demo')")
                    | Book a demo
                .q-home__touch__form
                    form#contact-form(onsubmit='return submitForm()')
                        .row.marginbot-20
                            .col-md-6.xs-marginbot-20
                                input#ename.form-control.input-lg(type='text', placeholder='Enter name')
                            .col-md-6
                                input#email.form-control.input-lg(type='email', placeholder='Enter email', required='')
                        .row
                            .col-md-12
                                .form-group
                                    textarea#message.form-control(name='message', rows='4', cols='25', placeholder='Message')
                                input#btnContactUs.btn-lg.btn-block(type='submit', value='Send')
                #helpSent.container(style='display: none;')
                    .row.marginbot-80
                        .col-md-8.col-md-offset-2
                            h3 Thanks for getting in touch. We'll get back to you ASAP!
        section#contact.q-home__section.q-home__logos
            .q-home__section__inner
                ul
                    li
                        img.img-responsive(src='cquiz/img/Bett-future2.png')
                    li
                        img.img-responsive(src='cquiz/img/Techstars.png')
                    li
                        img.img-responsive(src='cquiz/img/GovUK.png')
                    li
                        img.img-responsive(src='cquiz/img/EdComs.jpg')
                    li
                        img.img-responsive(src='cquiz/img/InnovateUK.jpg')
        section.q-home__section.q-home__extra
            .q-home__section__inner
                .q-home__extra__left
                    ul.about
                        li
                            a(href='/faq') FAQ
                        li
                            a(href='/terms') Terms of Service
                        li
                            a(href='/privacy-policy') Privacy Policy
                        li
                            a(href='/COPPA-policy')   COPPA Policy
                .q-home__extra__rigth
                    .social
                        h6 Follow us
                        ul
                            li
                                a(href='http://www.facebook.com/quizalize')
                                    i.fa.fa-lg.fa-facebook
                            li
                                a(href='http://twitter.com/quizalizeapp')
                                    i.fa.fa-lg.fa-twitter
                            li
                                a(href='http://blog.zzish.com/')
                                    i.fa.fa-lg.fa-tumblr
                            li
                                a(href='http://www.youtube.com/channel/UCsN-UvRQ-hYUAndrQePJkMA')
                                    i.fa.fa-lg.fa-youtube
        footer.cq-home__footer
            .cq-home__footer__inner
                h3
                    | Powered by 
                    a(href='http://zzish.com', style='color:purple', target='_blank') Zzish
        // /Section: contact
        #outdated
        // Core JavaScript Files
        script.
            function showQuiz(id) {
            var check = localStorage.getItem("userId") || localStorage.getItem('token');
            var quizUrl = window.location.href = "/app#/play/public/" + id;
            if (!check) {
            quizUrl = "/quiz/register?redirect=" + window.encodeURIComponent(quizUrl);
            }
            window.location.href = quizUrl;
            }
            function newQuiz() {
            window.location.href="/quiz";
            }
        script(src='/cquiz/js/jquery.min.js')
        script(src='/cquiz/js/bootstrap.min.js')
        script(src='//zzish.github.io/zzishsdk-js/zzish.js')
        script.
            function submitForm() {
            $.ajax({
            url: "/quizHelp",
            method: "post",
            success: function(data,textstatus,jqXHR){
            console.log("Sent details");
            $('#sendForm').slideUp();
            $("#helpSent").slideDown();
            },
            error: function(){
            console.log("Error Posting Form details");
            },
            data: {
            name: $('#ename').val(),
            email: $('#email').val(),
            message: $('#message').val()
            }
            });
            return false;
            }
            function ask(type) {
            if (type=="demo") {
            $("#message").val("I want a demo at my school");
            }
            else if (type =="question") {
            $("#message").val("");
            }
            else if (type=="order") {
            $("#message").val("I would like an information pack sent to my school");
            }
            ask2("#sendForm")
            }
            function ask2(type) {
            $('html, body').animate({
            scrollTop: $(type).offset().top-200
            }, 2000);
            }
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-2402555-23', 'auto');
            ga('send', 'pageview');
        // Hotjar Tracking Code for www.quizalize.com
        script.
            (function(f,b){
            var c;
            f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
            f._hjSettings={hjid:45670, hjsv:4};
            c=b.createElement("script");c.async=1;
            c.src="//static.hotjar.com/c/hotjar-"+f._hjSettings.hjid+".js?sv="+f._hjSettings.hjsv;
            b.getElementsByTagName("head")[0].appendChild(c);
            })(window,document);
        script(type='text/javascript').
            /* <![CDATA[ */
            var google_conversion_id = 1034680765;
            var google_custom_params = window.google_tag_params;
            var google_remarketing_only = true;
            /* ]]> */
        script(type='text/javascript', src='//www.googleadservices.com/pagead/conversion.js')
        noscript
            div(style='display:inline;')
                img(height='1', width='1', style='border-style:none;', alt='', src='//googleads.g.doubleclick.net/pagead/viewthroughconversion/1034680765/?value=0&guid=ON&script=0')
        script(src='//platform.twitter.com/oct.js', type='text/javascript')
        script(type='text/javascript').
            twttr.conversion.trackPid('l67it', { tw_sale_amount: 0, tw_order_quantity: 0 });
        noscript
            img(height='1', width='1', style='display:none;', alt='', src='https://analytics.twitter.com/i/adsct?txn_id=l67it&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0')
            img(height='1', width='1', style='display:none;', alt='', src='//t.co/i/adsct?txn_id=l67it&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0')
        script(src='//platform.twitter.com/oct.js', type='text/javascript')
        script(type='text/javascript').
            twttr.conversion.trackPid('l5zik', { tw_sale_amount: 0, tw_order_quantity: 0 });
        noscript
            img(height='1', width='1', style='display:none;', alt='', src='https://analytics.twitter.com/i/adsct?txn_id=l5zik&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0')
            img(height='1', width='1', style='display:none;', alt='', src='//t.co/i/adsct?txn_id=l5zik&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0')
        script.
            (function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
            }
            _fbq.push(['addPixelId', '832854753469486']);
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', 'PixelInitialized', {}]);
            var userId = localStorage.getItem("userId");
            if (userId!=undefined) {
            $("#LoginButton").attr("href","/quiz/quizzes");
            }
        noscript
            img(height='1', width='1', alt='', style='display:none', src='https://www.facebook.com/tr?id=832854753469486&ev=PixelInitialized')
        script(type='text/javascript').
            /* <![CDATA[ */
            var google_conversion_id = 1034680765;
            var google_custom_params = window.google_tag_params;
            var google_remarketing_only = true;
            /* ]]> */
        script(type='text/javascript', src='//www.googleadservices.com/pagead/conversion.js')
        noscript
            div(style='display:inline;')
                img(height='1', width='1', style='border-style:none;', alt='', src='//googleads.g.doubleclick.net/pagead/viewthroughconversion/1034680765/?value=0&guid=ON&script=0')
